<div class=" fondo">
    <app-menusecretaria></app-menusecretaria>
    <h1>S E C R E T A R I A</h1>
    <h1>Operaciones de Citas</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-auto text-center">
          <h1>Actualizar</h1>
          <form class="form-group" (ngSubmit)="validarId(cita)">
              <!-- (ngSubmit)="buscar1(cita)" -->
            <h2>Buscar Cita</h2>
            <br><input class="form-control" type="number" min="1" [(ngModel)]="cita" name="id" placeholder="Ingresa el num de cita">
            <br><input class="form-control" type="submit" value="buscar">
          </form>
          <form action="">
            <h2>Modificar datos</h2>
            <!--/primero del typescript y el 2do resultado del servicio-->
            <div *ngFor="let cita2 of citas.citas1">
              <br> <label for="nombre" class="textcolorw">Id Paciente</label>
              <input class="form-control" type="number" min="1" [(ngModel)] = "cita2.idpaciente" name="idpaciente">
              <br> <label for="nombre" class="textcolorw">Hora</label>
              <input class="form-control" type="text" [(ngModel)] = "cita2.hora" name="hora">
              <br> <label for="nombre" class="textcolorw">Fecha</label>
              <input class="form-control" type="text" [(ngModel)] = "cita2.fecha" name="fecha">
              <br> <label for="nombre" class="textcolorw">Id Doctor</label>
              <input class="form-control" type="number" min="1" [(ngModel)] = "cita2.iddoctor" name="iddoctor">
              <br> <label for="nombre" class="textcolorw">N. Consultorio</label>
              <input class="form-control" type="text" [(ngModel)] = "cita2.nconsultorio" name="nconsultorio">
              <br> <label for="nombre" class="textcolorw">Precio</label>
              <input class="form-control" type="number" [(ngModel)] = "cita2.precio" name="precio">
              <br> <label for="nombre" class="textcolorw">Estatus</label>
              <input class="form-control" type="text" [(ngModel)] = "cita2.estatus" name="Estatus">
              <br> <input class="form-control" type="submit" value="Actualizar" (click)="validarCita(cita2)">
              <!-- (click)="actualizarCita(cita2)" -->
              <br><input class="form-control" type="submit" value="Eliminar" (click)="eliminarCita(cita2)">
            </div>
          </form>
          <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>