<div class=" fondo">
    <app-menuadmin></app-menuadmin>

    <!-- <div *ngFor="let item of doctor2.doctor">
        <br> {{item.iddoctor}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </div> -->

    <h1>Registrar tipo personal</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!-- Descripcion del tipo persnl -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="nombretipo" class="textcolorw">Descripción del tipo personal</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-prescription-bottle"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="nombretipo"
                    size="500"
                    required
                    class="form-control"
                    id="nombretipo"
                    [(ngModel)]="data.nombretipo"
                    placeholder="Descripción del tipo personal" />
                </div>
              </div>
            </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary " (click)="validarTipopersonal()">Registrar</button>
              </div>
            </div>
          </form>
          <div class="pre">
            <h2>Modelo:</h2>
            {{currentregistro}}
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br>
  </div>
