.fondo {
	background-image: url("../../assets/14.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* padding: 10px; */
	}

  h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: black;
    /* text-shadow: 2px 2px 4px #000000; */
    font-family: 'Candal', sans-serif;
	/* font-family: 'Cherry Swash', cursive; */
}

.blurb{
	background: rgba(0,0,0,0.6);
	/* width: auto; */
	/* position: absolute; */
  color: #FFFFFF;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  border: 0px solid #000000;
}

.blurw{
	background: rgba(0,0,0,0.1);
  /* background: rgba(255,255,255,0.4); */
	color: #000000;
	border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  border: 0px solid #000000;
}

.colo{
	color: black;
}

input{
	font-family: "century gothic";
	justify-content: center;
	margin: 0 auto;

}
