
  <br><br><br><br>
  <!-- CODIGO BY : https://bootsnipp.com/snippets/ZXz3x  -->
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Iniciar Sesión</h2>
          <p>Para ingresar escriba su usuario y contraseña.</p>
        </div>
        <form id="Login">
          <div class="form-group">
            <input type="text" name="usr" class="form-control is-valid" id="inputEmail" placeholder="Correo Electronico" [(ngModel)]="usr">
          </div>
          <div class="form-group">
            <input type="password" name="pass" class="form-control" id="inputPassword" placeholder="Contraseña" [(ngModel)]="pass">
          </div>
          <!-- <div class="forgot">
            <a href="reset.html">Forgot password?</a>
          </div> -->
          <button type="submit" class="btn btn-primary" (click)="validarLogin()">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </div>
  <br><br><br><br>

