/* You can add global styles to this file, and also import other style files */
footer{
    background-color: #02111b;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    font-family: 'Pontano Sans', sans-serif;
}
html {
    min-height: 100%;
    position: relative;
  }