<div class=" fondo">
    <app-menusecretaria></app-menusecretaria>
    <h1 class=" text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  S E C R E T A R I A - Pacientes </h1>
    <div class="container text-center  ">
        <div class="row justify-content-start">
          <div class="col-4">
            <div class="container col-4 blurb text-center">INSERTAR</div><br>
            <a href="registro" class=""><i class="fas  fa-plus fa-9x"></i></a>
          </div>
          <div class="col-4 text-center">
              <div class="container col-4 blurb text-center">ELIMINAR</div><br>
              <a href=""><i class="fas  fa-backspace fa-9x"></i></a>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-4 text-center">
              <a href=""><i class="fas fa-book fa-8x"></i></a>
              <br><br> <div class="container col-4 blurb text-center">CONSULTAR</div>
          </div>
          <div class="col-4 text-center">
              <a href=""><i class="fas fa-pen-square fa-9x"></i></a>
              <br> <div class="container col-4 blurb text-center">ACTUALIZAR</div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  