<div class=" fondo">
    <app-menuadmin></app-menuadmin>

    <div *ngFor="let item of doctor2.doctor">
        <br> {{item.iddoctor}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </div>

    <h1>Registro de Doctores</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!-- Nombre -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="nombre" class="textcolorw">Nombre</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user-md"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="nombre"
                    size="100"
                    required
                    class="form-control"
                    id="nombre"
                    [(ngModel)]="data.Nombre"
                    placeholder="Nombre del médico" />
                </div>
              </div>
            </div>
            <!-- apaterno -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="apaterno" class="textcolorw">Apellido Paterno</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user-md"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="apaterno"
                    required
                    class="form-control"
                    id="apaterno"
                    [(ngModel)]="data.apaterno"
                    placeholder="Apellido paterno del médico"/>
                </div>
              </div>
            </div>
            <!-- am -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="amaterno" class="textcolorw">Apellido Materno</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user-md"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="amaterno"
                    required
                    class="form-control"
                    id="amaterno"
                    [(ngModel)]="data.amaterno"
                    placeholder="Apellido materno del médico" />
                </div>
              </div>
            </div>
            <!-- Genero -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="genero" class="textcolorw">Genero</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-transgender-alt"></i>
                    </div>
                  </div>
                  <select class="selectpicker form-control"
                    type="text"
                    name="genero"
                    required
                    id="genero"
                    [(ngModel)]="data.genero"
                    placeholder="Genero del médico">
                    <option>Mujer</option>
                    <option>Hombre</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- No cedula -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="cedula" class="textcolorw">N. Cédula</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="cedula"
                    required
                    class="form-control"
                    id="cedula"
                    [(ngModel)]="data.cedula"
                    placeholder="Número de cédula del médico"/>
                </div>
              </div>
            </div>
            <!-- fracc -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="fracc" class="textcolorw">Fraccionamiento</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="fracc"
                    required
                    class="form-control"
                    id="fracc"
                    [(ngModel)]="data.fracc"
                    placeholder="Fraccionamiento donde vive el médico" />
                </div>
              </div>
            </div>
            <!-- num -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="num" class="textcolorw">Numero</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                  <input
                    type="num"
                    name="num"
                    required
                    class="form-control"
                    id="num"
                    [(ngModel)]="data.num"
                    placeholder="Número de casa/Hogar" />
                </div>
              </div>
            </div>
            <!-- Calle-->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="calle" class="textcolorw">Calle</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="calle"
                    required
                    class="form-control"
                    id="calle"
                    [(ngModel)]="data.calle"
                    placeholder="Calle" />
                </div>
              </div>
            </div>
            <!-- Edad -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="edad" class="textcolorw">Edad</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="edad"
                    required
                    class="form-control"
                    id="edad"
                    [(ngModel)]="data.edad"/>
                </div>
              </div>
            </div>
            <!-- Telefono-->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="telefono" class="textcolorw">Teléfono</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-mobile"></i>
                    </div>
                  </div>
                  <input
                    type="telefono"
                    name="phone"
                    required
                    class="form-control"
                    id="telefono"
                    [(ngModel)]="data.telefono"
                         placeholder="telefono del médico celular-fijo" />
                </div>
              </div>
            </div>
            <!-- Email -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="correo" class="textcolorw">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-at"></i>
                    </div>
                  </div>
                  <input
                    type="correo"
                    name="correo"
                    required
                    class="form-control"
                    id="correo"
                    [(ngModel)]="data.correo"
                    placeholder="correo electronico del médico, de tipo: correo@email.com"/>
                </div>
              </div>
            </div>
            <!-- Especialidad -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="especialidad" class="textcolorw">Especialidad</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user-tag"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="especialidad"
                    required
                    class="form-control"
                    id="especialidad"
                    [(ngModel)]="data.especialidad"
                    placeholder="Especialidad del médico"/>
                </div>
              </div>
            </div>
            <!-- N. Consultorio -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="nconsultorio" class="textcolorw">N. Consultorio</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-procedures"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="nconsultorio"
                    required
                    class="form-control"
                    id="nconsultorio"
                    [(ngModel)]="data.nconsultorio"
                    placeholder="Número de consultorio donde atiende el médico"/>
                </div>
              </div>
            </div>
            <!-- Sueldo -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="sueldo" class="textcolorw">Sueldo</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-money-check-alt"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="sueldo"
                    required
                    class="form-control"
                    id="sueldo"
                    [(ngModel)]="data.sueldo"
                    placeholder="Sueldo del médico"/>
                </div>
              </div>
            </div>
            <!-- Id-Departamento -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="iddepartamento" class="textcolorw">Id-Departamento</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-procedures"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="iddepartamento"
                    required
                    class="form-control"
                    id="iddepartamento"
                    [(ngModel)]="data.iddepartamento"
                    placeholder="Ingresa el Id del departamento"/>
                </div>
              </div>
            </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary " (click)="validarDoctor()">Registrar</button>
              </div>
            </div>
          </form>
          <div class="pre">
            <h2>Modelo:</h2>
            {{currentregistro}}
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
