<div class=" fondo">
    <app-menuadmin></app-menuadmin>
    <h1 class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;A D M I N I S T R A D O R <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Personal </h1>
    <p class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Da clic en un boton</p>
    <br>
    <div class="container text-center ">
      <div class="row justify-content-center">
        <div class="col-6 col-auto">
          <div class="container col-3 blurb text-center">INSERTAR</div><br>
          <a href="registropersonal" class=""><i class="fas colo fa-plus fa-9x"></i></a>
        </div>
        <div class="col-6 col-auto text-center">
            <div class="container col-3 blurb text-center">ELIMINAR</div><br>
            <a href="rudadminpersonal"><i class="fas colo fa-backspace fa-9x"></i></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
            <a href="rudadminpersonal"><i class="fas colo fa-book fa-8x"></i></a>
            <br><br> <div class="container col-3 blurb text-center">CONSULTAR</div>
        </div>
        <div class="col-6 col-auto text-center">
            <a href="rudadminpersonal"><i class="fas colo fa-pen-square fa-9x"></i></a>
            <br> <div class="container col-3 blurb text-center">ACTUALIZAR</div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
