<div class=" fondo">
    <app-menusecretaria></app-menusecretaria>

    <div *ngFor="let item of paciente2.paciente">
        <br> {{item.idpaciente}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </div>

    <h1>Registro</h1>
    <br>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!-- Nombre -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="name" class="textcolorw">Nombre</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user-injured"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="name"
                    size="100"
                    required
                    class="form-control"
                    id="name"
                    [(ngModel)]="data.nombre"
                    placeholder="Nombre del paciente" />
                </div>
              </div>
            </div>
            <!-- ap -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="ap" class="textcolorw">Apellido Paterno</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user-injured"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="ap"
                    required
                    class="form-control"
                    id="ap"
                    [(ngModel)]="data.apaterno"
                    placeholder="Apellido paterno del paciente"/>
                </div>
              </div>
            </div>
            <!-- am -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="am" class="textcolorw">Apellido Materno</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user-injured"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="am"
                    required
                    class="form-control"
                    id="am"
                    [(ngModel)]="data.amaterno"
                    placeholder="Apellido materno del paciente" />
                </div>
              </div>
            </div>
            <!-- Genero -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Genero" class="textcolorw">Genero</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-transgender-alt"></i>
                    </div>
                  </div>
                  <select class="selectpicker form-control"
                    type="text"
                    name="genere"
                    required
                    id="genere"
                    [(ngModel)]="data.genero"
                    placeholder="Genero del paciente">
                    <option>Mujer</option>
                    <option>Hombre</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- fracc -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Fraccionamiento" class="textcolorw">Fraccionamiento</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="neighborhood"
                    required
                    class="form-control"
                    id="neighborhood"
                    [(ngModel)]="data.fracc"
                    placeholder="Fraccionamiento del paciente" />
                </div>
              </div>
            </div>
            <!-- num -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Numero" class="textcolorw">Numero</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                  <input
                    type="number"
                    name="number"
                    required
                    class="form-control"
                    id="number"
                    [(ngModel)]="data.num"
                     placeholder="Número de casa/Hogar" />
                </div>
              </div>
            </div>
            <!-- Calle-->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Calle" class="textcolorw">Calle</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="streat"
                    required
                    class="form-control"
                    id="streat"
                    [(ngModel)]="data.calle"
                    placeholder="Calle" />
                </div>
              </div>
            </div>
            <!-- Edad -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Edad" class="textcolorw">Edad</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="age"
                    required
                    class="form-control"
                    id="age"
                    [(ngModel)]="data.edad"
                    placeholder="Edad paciente" />
                </div>
              </div>
            </div>
            <!-- Telefono-->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Telefono" class="textcolorw">Teléfono</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-mobile"></i>
                    </div>
                  </div>
                  <input
                    type="tel"
                    name="phone"
                    required
                    class="form-control"
                    id="phone"
                    [(ngModel)]="data.telefono"
                    placeholder="telefono del paciente celular/fijo" />
                </div>
              </div>
            </div>
            <!-- Email -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Email" class="textcolorw">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-at"></i>
                    </div>
                  </div>
                  <input
                    type="email"
                    name="email"
                    required
                    class="form-control"
                    id="email"
                    [(ngModel)]="data.correo"
                    placeholder="correo electronico del cliente, de tipo: email@email.com"/>
                </div>
              </div>
            </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary " (mouseover)="validarUsuario()" (click)="agregar()">Registrar</button>
              </div>
            </div>
          </form>
          <div class="pre">
            <h2>Modelo:</h2>
            {{currentregistro}}
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
