<div class=" fondo">
  <app-menuadmin></app-menuadmin>
  <h1>Registro depratamentos administrativos</h1>
  <br>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-6 col-auto text-center">
        <form id="formulario ">
          <!-- Nombre -->
          <div class="row justify-content-center">
            <div class="form-group col-xs-12 col-11">
              <label for="nombre" class="textcolorw">Nombre</label>
              <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-signature"></i></div>
                </div>
                <input
                  type="text"
                  name="nombre"
                  size="100"
                  required
                  class="form-control"
                  id="nombre"
                  [(ngModel)]="data.nombre"
                  placeholder="Nombre del departamento" />
              </div>
            </div>
          </div>
          <!-- Ubicacion -->
          <div class="row justify-content-center">
            <div class="form-group col-xs-12 col-11">
              <label for="ubicacion" class="textcolorw">Ubicación</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
                </div>
                <input
                  type="text"
                  name="ubicacion"
                  required
                  class="form-control"
                  id="ubicacion"
                  [(ngModel)]="data.ubicacion"
                  placeholder="Ubicación del departamento (direccion del edificio)" />
              </div>
            </div>
          </div>
          <!-- boton -->
          <div class="row justify-content-center">
            <div class="form-group col-xs-12 col-4 align-self-center text-center">
              <button type="submit" class="btn btn-outline-primary " (click)="agregar()">Registrar</button>
            </div>
          </div>
        </form>
        <div class="pre">
          <h2>Modelo:</h2>
          {{currentregistro}}
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
</div>
