

<!-- <nav>
    <ul class="menu">
      <a href="#">Personal</a>
      <a href="#">Tipo Personal</a>
      <a href="#">Departamentos</a>
      <a href='registro'>Doctores</a>
      <a href="#">Horarios</a>
      <a href='registro'>Tratamientos</a>
      <a href="#">Promociones</a>
    </ul>
</nav> -->

<nav>
		<ul>
      <li><a href="adminpersonal">Personal</a></li>
      <li><a href="admintipopersonal">Tipo Personal</a></li>
      <li> <a href="admindepartamentos">Departamentos</a></li>
      <li><a href='admindoctores'>Doctores</a></li>
      <li><a href="adminhorarios">Horarios</a></li>
      <li><a href='admintratamientos'>Tratamientos</a></li>
			<li><a href="adminpromociones">Promociones</a></li>
			<li><a href="login">Cerrar Sesión</a></li>
			<!-- <li class="drop">
				<a href="#">You</a>
				
				<div class="dropdownContain">
					<div class="dropOut">
						<div class="triangle"></div>
						<ul>
							<li>Plan</li>
							<li>Account Settings</li>
							<li>Switch Account</li>
							<li>Sign Out</li>
						</ul>
					</div>
				</div>
			
			</li> -->
			<!-- <li><a href="#">Help</a></li> -->
		</ul>
</nav>