<div class=" fondo">
    <app-menusecretaria></app-menusecretaria>

    <!-- <div *ngFor="let item of doctor2.doctor">
        <br> {{item.iddoctor}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </div> -->

    <h1>Registrar cita</h1>
    <div class="row justify-content-center">
        <div class="form-group col-xs-12 col-4">
          <label for="idpaciente" class="textcolorw">Id paciente</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                  <i class="fas fa-user-md"></i>
              </div>
            </div>
            <input
              type="text"
              name="idpaciente"
              required
              class="form-control"
              id="idpaciente"
              [(ngModel)]="data.idpaciente"
              placeholder="Id del paciente" />
          </div>
        </div>
      </div>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!-- Hora -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-9">
                <label for="hora" class="textcolorw">Hora</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="far fa-clock"></i>
                    </div>
                  </div>
                  <input
                    type="time"
                    name="hora"
                    size="100"
                    required
                    class="form-control"
                    id="hora"
                    [(ngModel)]="data.hora"
                    placeholder="Hora de la cita" />
                </div>
              </div>
            </div>
            <!-- Fecha cita -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-9">
                <label for="fecha" class="textcolorw">Fecha Cita</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                  </div>
                  <input
                    type="date"
                    name="fecha"
                    required
                    class="form-control"
                    id="fecha"
                    [(ngModel)]="data.fecha"
                    placeholder="Fecha de la cita"/>
                </div>
              </div>
            </div>
            <!-- Id Doctor -->
            <div class="row justify-content-center">
                <div class="form-group col-xs-12 col-9">
                  <label for="iddoctor" class="textcolorw">Id Doctor</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fas fa-user-md"></i>
                      </div>
                    </div>
                    <input
                      type="text"
                      name="iddoctor"
                      required
                      class="form-control"
                      id="iddoctor"
                      [(ngModel)]="data.iddoctor"
                      placeholder="Id del doctor" />
                  </div>
                </div>
              </div>
            <!-- Num. Consultorio -->
            <div class="row justify-content-center">
                <div class="form-group col-xs-12 col-9">
                  <label for="nconsultorio" class="textcolorw">Num. Consultorio</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fas fa-procedures"></i>
                      </div>
                    </div>
                    <select class="selectpicker form-control"
                      type="text"
                      name="nconsultorio"
                      required
                      id="nconsultorio"
                      [(ngModel)]="data.nconsultorio"
                      placeholder="Número del consultorio">
                      <option>31-A</option>
                      <option>33-A</option>
                    </select>
                  </div>
                </div>
              </div>
            <!-- Precio de la Cita -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-9">
                <label for="precio" class="textcolorw">Precio de la Cita</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="precio"
                    required
                    class="form-control"
                    id="precio"
                    [(ngModel)]="data.precio"
                    placeholder="Precio de la cita con formato 0000.00" />
                </div>
              </div>
            </div>
            <!-- Estaus de la Cita -->
            <div class="row justify-content-center">
                <div class="form-group col-xs-12 col-9">
                  <label for="estatus" class="textcolorw">Estaus de la Cita</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="far fa-question-circle"></i>
                      </div>
                    </div>
                    <select class="selectpicker form-control"
                      type="text"
                      name="estatus"
                      required
                      id="estatus"
                      [(ngModel)]="data.estatus"
                      placeholder="Estatus de la cita">
                      <option>Próxima</option>
                    </select>
                  </div>
                </div>
              </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary " (click)="validarCita()" >Registrar</button>
                <!-- (mouseover)="validarCita()" (click)="agregar()" -->
              </div>
            </div>
          </form>
          <div class="pre">
            <h2>Modelo:</h2>
            {{currentregistro}}
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
