<div class=" fondo">
    <app-menuadmin></app-menuadmin>
    <h1 class="container col-6  text-left"> A D M I N I S T R A D O R - Doctores </h1>
    <div class="container text-center ">
        <p class="text-center">Da clic en un boton</p>
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
            <div class="container col-3 blurb text-center">INSERTAR</div><br><br>
          <a href="registrodoctores"><i class="fas fa-user-plus fa-8x"></i></a>
        </div>
        <div class="col-6 col-auto text-center">
            <div class="container col-3 blurb text-center">ELIMINAR</div><br><br>
          <a href=""><i class="fas fa-user-minus fa-9x"></i></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <br>
          <a href=""><i class="fas fa-address-book fa-9x"></i></a>
          <br><br> <div class="container col-3 blurb text-center">CONSULTAR</div>
        </div>
        <div class="col-6 col-auto text-center">
          <br>
          <a href=""><i class="fas fa-user-edit fa-9x"></i></a>
          <br><br> <div class="container col-3 blurb text-center">ACTUALIZAR</div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
