<div class=" fondo">
    <app-menudoctor></app-menudoctor>
    <br>
    <h1 class="text-white">D O C T O R - Historial </h1>
    <br><br>
    <p class="text-center ">Da clic en un boton</p>
    <br>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12 col-auto text-center">
            <div class="container col-3 blurb text-center">INSERTAR</div><br><br>
            <a href="" class=""><i class="fas fa-plus fa-9x"></i></a>
        </div>

      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
            <a href=""><i class="fas fa-book fa-9x"></i></a>
            <br><br> <div class="container col-3 blurb text-center">CONSULTAR</div>
        </div>
        <div class="col-6 col-auto text-center">
            <a href=""><i class="fas fa-pen-square fa-9x"></i></a>
            <br><br> <div class="container col-3 blurb text-center">ACTUALIZAR</div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
