<div class=" fondo">
    <app-menuadmin></app-menuadmin>

    <!-- <div *ngFor="let item of doctor2.doctor">
        <br> {{item.iddoctor}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </div> -->

    <h1>Registro de Promociones</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!-- Descripcion -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="descripcion" class="textcolorw">Descripción</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fab fa-readme"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="descripcion"
                    size="100"
                    required
                    class="form-control"
                    id="descripcion"
                    [(ngModel)]="data.descripcion"
                    placeholder="Descripcion de la promocion" />
                </div>
              </div>
            </div>
            <!-- Porcentaje de dcto -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="porcentajerebaja" class="textcolorw">Porcentaje de Descuento</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-percentage"></i> &nbsp;<i class="fas fa-piggy-bank"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="porcentajerebaja"
                    required
                    class="form-control"
                    id="porcentajerebaja"
                    [(ngModel)]="data.porcentajerebaja"
                    placeholder="Porcentaje de descuento"/>
                </div>
              </div>
            </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary " (click)="validarPromociones()">Registrar</button>
              </div>
            </div>
          </form>
          <div class="pre">
            <h2>Modelo:</h2>
            {{currentregistro}}
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
