<div class=" fondo">
    <app-menuadmin></app-menuadmin>

   <!--div *ngFor="let item of doctor2.doctor">
        <br> {{item.iddoctor}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </!---->
    <h1>A D M I N I S T R A D O R</h1>
    <h3>Registrar Horario</h3>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!-- Id Doctor -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="iddoctor" class="textcolorw">Id Doctor</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user-md"></i>
                    </div>
                  </div>
                  <input
                    type="number"
                    name="iddoctor"
                    min="1"
                    required
                    class="form-control"
                    id="iddoctor"
                    [(ngModel)]="data.iddoctor"
                    placeholder="ID doctor" />
                </div>
              </div>
            </div>
            <!-- N. Consultorio -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="nconsultorio" class="textcolorw">N. Consultorio</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-procedures"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="nconsultorio"
                    required
                    class="form-control"
                    id="nconsultorio"
                    [(ngModel)]="data.nconsultorio"
                    placeholder="Número de consultorio"/>
                </div>
              </div>
            </div>
            <!-- Horario -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="hora" class="textcolorw">Horario</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="far fa-clock"></i>
                    </div>
                  </div>
                  <input
                    type="time"
                    name="hora"
                    required
                    class="form-control"
                    id="hora"
                    [(ngModel)]="data.hora"
                    placeholder="Horario" />
                </div>
              </div>
            </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary " (click)="validarHorario()">Registrar</button>
              </div>
            </div>
          </form>
          <!-- <div class="pre">
            <h2>Modelo:</h2>
            {{currentregistro}}
          </div> -->
        </div>
      </div>
    </div>
    <br><br><br>
  </div>

