<div class=" fondo">
    <app-menuadmin></app-menuadmin>
    <h1>A D M I N I S T R A D O R</h1>
    <h1>Operaciones de Promociones</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-auto text-center">
          <h1>Actualizar</h1>
          <form class="form-group" (ngSubmit)="validarId(promo)">
              <!-- (ngSubmit)="buscar1(promo)" -->
            <h2>Buscar Promocion</h2>
            <br><input class="form-control" type="number" min="1" [(ngModel)]="promo" name="id" placeholder="Ingresa el num de promocion">
            <br><input class="form-control" type="submit" value="buscar">
          </form>
          <form action="">
            <h2>Modificar datos</h2>
            <!--/primero del typescript y el 2do resultado del servicio-->
            <div *ngFor="let promocion2 of promocion.promocion1">
              <br> <label for="nombre" class="textcolorw">Descripción</label>
              <input class="form-control" type="text" [(ngModel)] = "promocion2.descripcion" name="descripcion">
              <br> <label for="nombre" class="textcolorw">Monto Rebaja</label>
              <input class="form-control" type="number" [(ngModel)] = "promocion2.porcentajerebaja" name="porcentajerebaja">
              <br> <input class="form-control" type="submit" value="Actualizar" (click)="validarPromocion(promocion2)">
              <!-- (click)="actualizarPromocion(promocion2)" -->
              <br> <input class="form-control" type="submit" value="Eliminar" (click)="eliminarPromocion(promocion2)">
            </div>
          </form>
          <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
