<div class=" fondo">
    <app-menuadmin></app-menuadmin>
    <h1>A D M I N I S T R A D O R</h1>
    <h1>Operaciones de Tratamiento</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-auto text-center">
          <h1>Actualizar</h1>
          <form class="form-group" (ngSubmit)="buscar1(trat)">
            <h2>Buscar Tratamiento</h2>
            <br><input class="form-control" type="text" [(ngModel)]="trat" name="id" placeholder="Ingresa el num de tratamiento">
            <br><input class="form-control" type="submit" value="buscar">
          </form>
          <form action="">
            <h2> Modificar datos</h2>
            <!--/primero del typescript y el 2do resultado del servicio-->
            <div *ngFor="let tratamiento2 of tratamiento.tratamiento1">
              <br> <label for="nombre" class="textcolorw">Nombre</label>
              <input class="form-control" type="text" [(ngModel)] = "tratamiento2.Nombre" name="Nombre">
              <br> <label for="nombre" class="textcolorw">Descripción</label>
              <input class="form-control" type="text" [(ngModel)] = "tratamiento2.descripcion" name="descripcion">
              <br> <label for="nombre" class="textcolorw">Precio</label>
              <input class="form-control" type="text" [(ngModel)] = "tratamiento2.precio" name="precio">
              <br>
              <input class="form-control" type="submit" value="Actualizar" (click)="validarTratamiento(tratamiento2)">
              <!-- (click)="actualizarTratamiento(tratamiento2)" -->
              <br> <input class="form-control" type="submit" value="Eliminar" (click)="eliminarTratamiento(tratamiento2)">
            </div>
          </form>
          <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
