<!-- Component by http://cssdeck.com/labs/soothing-css3-dropdown-animation -->
<nav>
		<ul>
      <li><a href="doctorhistorial">Historial</a></li>
      <li><a href="doctortpacientes">Tratamiento Paciente</a></li>
      <li><a href="doctorcitas">Citas</a></li>
      <li><a href="login">Cerrar Sesión</a></li>
			<!-- <li class="drop">
				<a href="#">You</a>
				<div class="dropdownContain">
					<div class="dropOut">
						<div class="triangle"></div>
						<ul>
							<li>Plan</li>
							<li>Account Settings</li>
							<li>Switch Account</li>
							<li>Sign Out</li>
						</ul>
					</div>
				</div>
			</li> -->
			<!-- <li><a href="#">Help</a></li> -->
		</ul>
</nav>