<div class=" fondo">
  <app-menuadmin></app-menuadmin>
  <h1>A D M I N I S T R A D O R</h1>
  <h1 class="">Operaciones de Personal</h1>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-auto text-center">
        <!-- <table class="table table-dark table-responsive">
          <thead>
            <tr>
              <th scope="col">Id Personal</th>
              <th scope="col">idtipo</th>
              <th scope="col">nombre</th>
              <th scope="col">apaterno</th>
              <th scope="col">amaterno</th>
              <th scope="col">genero</th>
              <th scope="col">fracc</th>
              <th scope="col">num</th>
              <th scope="col">calle</th>
              <th scope="col">edad</th>
              <th scope="col">telefono</th>
              <th scope="col">correo</th>
              <th scope="col">cedula</th>
              <th scope="col">iddepartamento</th>
              <th scope="col">sueldo</th>
              <th scope="col">Borrar</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of datos">
              <th scope="row">{{e.idpersonal}}</th>
              <td>{{e.idtipo}}</td>
              <td>{{e.nombre}}</td>
              <td>{{e.apaterno}}</td>
              <td>{{e.amaterno}}</td>
              <td>{{e.genero}}</td>
              <td>{{e.fracc}}</td>
              <td>{{e.num}}</td>
              <td>{{e.calle}}</td>
              <td>{{e.edad}}</td>
              <td>{{e.telefono}}</td>
              <td>{{e.correo}}</td>
              <td>{{e.cedula}}</td>
              <td>{{e.iddepartamento}}</td>
              <td>{{e.sueldo}}</td>
              <td><a (click)="remove(e.id)"><i class="bote fas fa-trash"></i></a></td>
              <!-- <td><a (click)="remove(e.id)"><button>borrar</button></a></td> -->
            <!-- </tr> -->
          <!-- </tbody> -->
        <!-- </table>  -->
<!---AQUI COMIENZAN LOS MÉTODOS--------------------------------------------------------------------------------->
        <h1>Actualizar</h1>
        <form class="form-group" (ngSubmit)="validarId(pers)">
            <!-- (ngSubmit)="buscar1(pers)" -->
          <h2>Busca Personal</h2>
          <br><input class="form-control" type="number"  min="1" [(ngModel)]="pers" name="id" placeholder="Ingresa el id personal">
          <br><input class="form-control" type="submit" value="buscar">
        </form>
        <br> <br>
        <form action="">
          <h2>Modificar datos</h2>
          <div *ngFor="let personal2 of personal.personal1">
            <br> <label for="nombre" class="textcolorw">Id Tipo</label>
            <input type="number" min="1" class="form-control" [(ngModel)] = "personal2.idtipo" name="idtipo" id="idtipo">
            <br> <label for="nombre" class="textcolorw">Nombre</label>
            <input type="text" class="form-control" [(ngModel)] = "personal2.nombre" name="nombre" id="nombre">
            <br> <label for="nombre" class="textcolorw">Apellido Paterno</label>
            <input type="text" class="form-control" [(ngModel)] = "personal2.apaterno" name="apaterno" id="apaterno">
            <br> <label for="nombre" class="textcolorw">Apellido Materno</label>
            <input type="text" class="form-control" [(ngModel)] = "personal2.amaterno" name="amaterno" id="amaterno">
            <br> <label for="nombre" class="textcolorw">Género</label>
            <input type="text" class="form-control" [(ngModel)] = "personal2.genero" name="genero" id="genero">
            <br> <label for="nombre" class="textcolorw">Fraccionamiento</label>
            <input type="text" class="form-control" [(ngModel)] = "personal2.fracc" name="frac" id="frac">
            <br> <label for="nombre" class="textcolorw">Número</label>
            <input type="number" class="form-control" [(ngModel)] = "personal2.Num" name="Num" is="Num">
            <br> <label for="nombre" class="textcolorw">Calle</label>
            <input type="text" class="form-control" [(ngModel)] = "personal2.calle" name="calle" id="calle">
            <br> <label for="nombre" class="textcolorw">Edad</label>
            <input type="number" min="20" max="80" class="form-control" [(ngModel)] = "personal2.edad" name="edad" id="edad">
            <br> <label for="nombre" class="textcolorw">Teléfono</label>
            <input type="number" class="form-control" [(ngModel)] = "personal2.telefono" name="telefono" id="telefono">
            <br> <label for="nombre" class="textcolorw">Correo</label>
            <input type="text" class="form-control" [(ngModel)] = "personal2.correo" name="correo" id="correo">
            <br> <label for="nombre" class="textcolorw">Cédula</label>
            <input type="number" class="form-control" [(ngModel)] = "personal2.cedula" name="cedula" id="cedula">
            <br> <label for="nombre" class="textcolorw">Id Departamento</label>
            <input type="number" class="form-control" [(ngModel)] = "personal2.iddepartamento" name="iddepartamento" id="iddepartamento">
            <br> <label for="nombre" class="textcolorw">Sueldo</label>
            <input type="number" class="form-control" [(ngModel)] = "personal2.sueldo" name="sueldo" id="sueldo">
            <br> <input type="submit" value="Actualizar" (click)="validarPersonal(personal2)">
            <!-- (click)="actualizarPersonal(personal2)" -->
            <br><input class="form-control" type="submit" value="Eliminar" (click)="eliminarPersonal(personal2)">
          </div>
        </form>
        <br><br><br>
      </div>
    </div>
  </div>
</div>