<div class=" fondo">
  <app-menuadmin></app-menuadmin>
  <h1>Operaciones de </h1>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-auto text-center">
        <table class="table table-dark table-responsive">
          <thead>
            <tr>
              <th scope="col">Id Personal</th>
              <th scope="col">idtipo</th>
              <th scope="col">nombre</th>
              <th scope="col">apaterno</th>
              <th scope="col">amaterno</th>
              <th scope="col">genero</th>
              <th scope="col">fracc</th>
              <th scope="col">num</th>
              <th scope="col">calle</th>
              <th scope="col">edad</th>
              <th scope="col">telefono</th>
              <th scope="col">correo</th>
              <th scope="col">cedula</th>
              <th scope="col">iddepartamento</th>
              <th scope="col">sueldo</th>
              <th scope="col">Borrar</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of datos">
              <th scope="row">{{e.idpersonal}}</th>
              <td>{{e.idtipo}}</td>
              <td>{{e.nombre}}</td>
              <td>{{e.apaterno}}</td>
              <td>{{e.amaterno}}</td>
              <td>{{e.genero}}</td>
              <td>{{e.fracc}}</td>
              <td>{{e.num}}</td>
              <td>{{e.calle}}</td>
              <td>{{e.edad}}</td>
              <td>{{e.telefono}}</td>
              <td>{{e.correo}}</td>
              <td>{{e.cedula}}</td>
              <td>{{e.iddepartamento}}</td>
              <td>{{e.sueldo}}</td>
              <td><a (click)="remove(e.id)"><i class="bote fas fa-trash"></i></a></td>
              <!-- <td><a (click)="remove(e.id)"><button>borrar</button></a></td> -->
            </tr>
          </tbody>
        </table>
<!---AQUI COMIENZAN LOS MÉTODOS--------------------------------------------------------------------------------->
<h1>Actualizar</h1>
<form class="form-group" (ngSubmit)="buscar1(pers)">
  <h2>1 Buscar Usuario</h2>
  <br><input type="text" [(ngModel)]="pers" name="id" placeholder="Ingresa el usuario">
  <br><input type="submit" value="buscar">
</form>
        <form action="">
          <h2>2 Modificar datos</h2>
          <div *ngFor="let personal2 of personal.personal1"> 
 
            <br> <input type="text" [(ngModel)] = "personal2.idtipo" name="idtipo">
            <br> <input type="text" [(ngModel)] = "personal2.nombre" name="nombre">
            <br> <input type="text" [(ngModel)] = "personal2.apaterno" name="apaterno">
            <br> <input type="text" [(ngModel)] = "personal2.amaterno" name="amaterno">
            <br> <input type="text" [(ngModel)] = "personal2.genero" name="genero">
            <br> <input type="text" [(ngModel)] = "personal2.fracc" name="frac">
            <br> <input type="text" [(ngModel)] = "personal2.Num" name="Num">
            <br> <input type="text" [(ngModel)] = "personal2.calle" name="calle">
            <br> <input type="text" [(ngModel)] = "personal2.edad" name="edad">
            <br> <input type="text" [(ngModel)] = "personal2.telefono" name="telefono">
            <br> <input type="text" [(ngModel)] = "personal2.correo" name="correo">
            <br> <input type="text" [(ngModel)] = "personal2.cedula" name="cedula">
            <br> <input type="text" [(ngModel)] = "personal2.iddepartamento" name="iddepartamento">
            <br> <input type="text" [(ngModel)] = "personal2.sueldo" name="sueldo">
            <br> <input type="submit" value="Actualizar" (click)="actualizarPersonal(personal2)">
            <br><input type="submit" value="Eliminar" (click)="eliminarPersonal(personal2)">
            <br>
            <br>
            <br>
            <br>
            <br>

          </div> 
        </form>
      </div>
    </div>
  </div>
</div>