<div class=" fondo">
    <app-menusecretaria></app-menusecretaria>
    <h1>S E C R E T A R I A</h1>
    <h1>Operaciones de Pacientes</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-auto text-center">
<!---AQUI COMIENZAN LOS MÉTODOS--------------------------------------------------------------------------------->
          <h1>Actualizar</h1>
          <form class="form-group" (ngSubmit)="buscar1(us)">
              <!-- (ngSubmit)="validarId(usuario)" -->
              <!-- (ngSubmit)="buscar1(usuario)" -->
            <h2>Buscar Paciente</h2>
            <br><input class="form-control" type="number" min="1" [(ngModel)]="us" name="id" placeholder="Ingresa el usuario">
            <br><input class="form-control" type="submit" value="buscar">
          </form>
          <form action="">
            <h2>Modificar datos</h2>
            <div *ngFor="let paciente2 of paciente.usuario1">
              <br> <label for="nombre" class="textcolorw">Nombre</label>
              <input class="form-control" type="text" [(ngModel)] = "paciente2.nombre" name="nombre">
              <br> <label for="nombre" class="textcolorw">Apellido Paterno</label>
              <input class="form-control" type="text" [(ngModel)] = "paciente2.apaterno" name="apaterno">
              <br> <label for="nombre" class="textcolorw">Apellido Materno</label>
              <input class="form-control" type="text" [(ngModel)] = "paciente2.amaterno" name="amaterno">
              <br> <label for="nombre" class="textcolorw">Genero</label>
              <input class="form-control" type="text" [(ngModel)] = "paciente2.genero" name="genero">
              <br> <label for="nombre" class="textcolorw">Fraccionamiento</label>
              <input class="form-control" type="text" [(ngModel)] = "paciente2.fracc" name="fracc">
              <br> <label for="nombre" class="textcolorw">Número</label>
              <input class="form-control" type="number" [(ngModel)] = "paciente2.num" name="num">
              <br> <label for="nombre" class="textcolorw">Calle</label>
              <input class="form-control" type="text" [(ngModel)] = "paciente2.calle" name="calle">
              <br> <label for="nombre" class="textcolorw">Edad</label>
              <input class="form-control" type="number" min="1" max="100" [(ngModel)] = "paciente2.edad" name="edad">
              <br> <label for="nombre" class="textcolorw">Teléfono</label>
              <input class="form-control" type="tel" [(ngModel)] = "paciente2.telefono" name="telefono">
              <br> <label for="nombre" class="textcolorw">Correo</label>
              <input class="form-control" type="text" [(ngModel)] = "paciente2.correo" name="correo">
              <br> <input class="form-control" type="submit" value="Actualizar" (click)="validarPaciente(paciente2)">
              <!-- (click)="actualizarPaciente(paciente2)" -->
              <br><input class="form-control" type="submit" value="Eliminar" (click)="eliminarPaciente(paciente2)">
            </div>
          </form>
          <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>