<div class=" fondo">
    <app-menuadmin></app-menuadmin>

    <!-- <div *ngFor="let item of doctor2.doctor">
        <br> {{item.iddoctor}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </div> -->

    <h1>Registro Tratamiento</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!-- Nombre Tratamiento -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Nombre" class="textcolorw">Nombre Tratamiento</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-syringe"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="Nombre"
                    size="100"
                    required
                    class="form-control"
                    id="Nombre"
                    [(ngModel)]="data.Nombre"
                    placeholder="Nombre del tratamiento" />
                </div>
              </div>
            </div>
            <!-- Descripcion de Tratamiento -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="descripcion" class="textcolorw">Descripción de Tratamiento</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-prescription-bottle"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="descripcion"
                    size="100"
                    required
                    class="form-control"
                    id="descripcion"
                    [(ngModel)]="data.descripcion"
                    placeholder="Descripcion del tratamiento" />
                </div>
              </div>
            </div>
            <!-- Precio -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="precio" class="textcolorw">Precio</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-barcode"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="precio"
                    required
                    class="form-control"
                    id="precio"
                    [(ngModel)]="data.precio"
                    placeholder="Precio del tratamiento"/>
                </div>
              </div>
            </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary " (click)="agregar()">Registrar</button>
              </div>
            </div>
          </form>
          <div class="pre">
            <h2>Modelo:</h2>
            {{currentregistro}}
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
