<div class="container fondo" >
  <h1 align="center">Registrar Horario</h1>

  <form id="formulario ">
      <div class="form-group offset-md-4 ">
          <label class="col-md-4  control-label" for="nombre">Nombre</label>
              <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                      <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input 
                             type="text" 
                              name="nombre"
                              size="100"
                              required
                              class="form-control"
                              id="nombre"
                              [(ngModel)]="model.nombre"
                              placeholder="Nombre del tratamiento" />
                    </div>
              </div>
        </div>
    <!-- Doctor -->
    <div class="form-group offset-md-4 ">
      <label class="col-md-4  control-label" for="descripcion">Descripcion</label>
          <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input 
                         type="text" 
                          name="descripcion"
                          size="100"
                          required
                          class="form-control"
                          id="descripcion"
                          [(ngModel)]="model.descripcion"
                          placeholder="Descripcion del tratamiento" />
                </div>
          </div>
    </div>
      
    <!-- precio -->
    <div class="form-group offset-md-4">
        <label class="col-md-4 control-label" for="nconsultorio">Precio</label>
             <div class="col-md-8 inputGroupContainer">
                 <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input 
                               type="text" 
                               name="precio"
                               required
                               class="form-control"
                               id="precio"
                               [(ngModel)]="model.precio"
                               placeholder="Precio del tratamiento"/>
                  </div>
             </div>
    </div>

  
    <!-- boton -->
    <div class="boton offset-md-4">
      <button type="submit" class="btn btn-outline-primary ">Registrar</button>
    </div>
    
    <!--<button type="submit">Registrar</button>-->

    

  </form>

  <div class="pre">
    <h2>Modelo:</h2>
    {{currentregistro}}
  </div>

</div>
