<div class=" fondo">
    <app-menudoctor></app-menudoctor>

    <!-- <div *ngFor="let item of doctor2.doctor">
        <br> {{item.iddoctor}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </div> -->

    <h1>Registrar Historial</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!--idpaciente-->
            <!-- Observaciones al paciente -->
            <div class="row justify-content-center">
                <div class="form-group col-xs-12 col-8">
                  <label for="idpaciente" class="textcolorw">Id paciente</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fas fa-bookmark"></i>
                      </div>
                    </div>
                    <input
                      type="number"
                      min="1"
                      name="idpaciente"
                      required
                      class="form-control"
                      id="idpaciente"
                      [(ngModel)]="data.idpaciente"
                      placeholder="Observaciones al paciente"/>
                  </div>
                </div>
              </div>
              <!--idcita-->
              <!-- Observaciones al paciente -->
            <div class="row justify-content-center">
                <div class="form-group col-xs-12 col-8">
                  <label for="idcita" class="textcolorw">id cita</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fas fa-bookmark"></i>
                      </div>
                    </div>
                    <input
                      type="number"
                      min="1"
                      name="idcita"
                      required
                      class="form-control"
                      id="idcita"
                      [(ngModel)]="data.idcita"
                      placeholder="Observaciones al paciente"/>
                  </div>
                </div>
              </div>
            <!-- Observaciones al paciente -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="descripcioncita" class="textcolorw">Descripción de la cita</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-bookmark"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="descripcioncita"
                    required
                    class="form-control"
                    id="descripcioncita"
                    [(ngModel)]="data.descripcioncita"
                    placeholder="Observaciones al paciente"/>
                </div>
              </div>
            </div>
            <!-- Descripcion de Cita -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="observaciones" class="textcolorw">Observaciones al paciente</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-file-medical"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="observaciones"
                    size="500"
                    required
                    class="form-control"
                    id="observaciones"
                    [(ngModel)]="data.observaciones"
                    placeholder="Descripción de la cita" />
                </div>
              </div>
            </div>
            <!-- Observaciones al paciente -->
            <div class="row justify-content-center">
                <div class="form-group col-xs-12 col-8">
                  <label for="iddoctor" class="textcolorw">id Doctor</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fas fa-bookmark"></i>
                      </div>
                    </div>
                    <input
                      type="number"
                      min="1"
                      name="iddoctor"
                      required
                      class="form-control"
                      id="iddoctor"
                      [(ngModel)]="data.iddoctor"
                      placeholder="Observaciones al paciente"/>
                  </div>
                </div>
              </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary " (click)="validarHistorial()">Registrar</button>
              </div>
            </div>
          </form>
          <!-- <div class="pre">
            <h2>Modelo:</h2>
            {{currentregistro}}
          </div> -->
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div>
