<div class=" fondo">
    <app-menudoctor></app-menudoctor>

    <!-- <div *ngFor="let item of doctor2.doctor">
        <br> {{item.iddoctor}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </div> -->

    <h1>Registro de Tratamientos al paciente</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!-- Id Tratamiento -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="id tratamiento" class="textcolorw">Id Tratamiento</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-syringe"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="id"
                    size="100"
                    required
                    class="form-control"
                    id="id"
                    [(ngModel)]="model.id"
                    placeholder="ID del tratamiento" />
                </div>
              </div>
            </div>
            <!-- Id Paciente -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Id Paciente" class="textcolorw">Id Paciente</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-user-injured"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="idpaciente"
                    required
                    class="form-control"
                    id="idpaciente"
                    [(ngModel)]="model.idpaciente"
                    placeholder="ID del paciente"/>
                </div>
              </div>
            </div>
            <!-- Id Doctor -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Id Doctor" class="textcolorw">Id Doctor</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-user-md"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="iddoctor"
                    required
                    class="form-control"
                    id="iddoctor"
                    [(ngModel)]="model.iddoctor"
                    placeholder="ID del doctor"/>
                </div>
              </div>
            </div>
            <!-- N. Citas -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="N. Citas" class="textcolorw">Num. Citas</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-procedures"></i>
                    </div>
                  </div>
                  <input
                    type="number"
                    name="ncitas"
                    required
                    class="form-control"
                    id="ncitas"
                    [(ngModel)]="model.ncitas"
                    placeholder="Número de  citas del tratamiento" />
                </div>
              </div>
            </div>
            <!-- Descripcion -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Descripcionero" class="textcolorw">Descripción</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-prescription-bottle"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="descripcion"
                    required
                    class="form-control"
                    id="descripcion"
                    [(ngModel)]="model.descripcion"
                    placeholder="Descripción breve tratamiento" />
                </div>
              </div>
            </div>
            <!-- Modalidad De Pago -->
            <div class="row justify-content-center">
                <div class="form-group col-xs-12 col-8">
                  <label for="Modalidad De Pago" class="textcolorw">Modalidad De Pago</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fas fa-money-check-alt"></i>&nbsp;<i class="fas fa-money-bill-alt"></i>
                      </div>
                    </div>
                    <select class="selectpicker form-control"
                      type="text"
                      name="modalidadpago"
                      required
                      id="modalidadpago"
                      [(ngModel)]="model.modalidadpago"
                      placeholder="Genero del personal">
                      <option>Contado</option>
                      <option>Plazos</option>
                    </select>
                  </div>
                </div>
              </div>
            <!-- Pagos-->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="Pagos" class="textcolorw">Pagos</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </div>
                  </div>
                  <input
                    type="pagos"
                    name="pagos"
                    required
                    class="form-control"
                    id="pagos"
                    [(ngModel)]="model.pagos"
                    placeholder="Precio de la consulta" />
                </div>
              </div>
            </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary ">Registrar</button>
              </div>
            </div>
          </form>
          <div class="pre">
            <h2>Modelo:</h2>
            {{currentregistro}}
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
