<div class=" fondo">
    <app-menudoctor></app-menudoctor>

    <!-- <div *ngFor="let item of doctor2.doctor">
        <br> {{item.iddoctor}}
        <br> {{item.nombre}}
        <br> {{item.apaterno}}
    </div> -->

    <h1>Registro de Tratamientos al paciente</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-6 col-auto text-center">
          <form id="formulario ">
            <!-- Id Tratamiento -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="idtratamiento" class="textcolorw">Id Tratamiento</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-syringe"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="idtratamiento"
                    size="100"
                    required
                    class="form-control"
                    idtratamiento="idtratamiento"
                    [(ngModel)]="data.idtratamiento"
                    placeholder="ID del tratamiento" />
                </div>
              </div>
            </div>
            <!-- Id Paciente -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="idpaciente" class="textcolorw">Id Paciente</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-user-injured"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="idpaciente"
                    required
                    class="form-control"
                    id="idpaciente"
                    [(ngModel)]="data.idpaciente"
                    placeholder="ID del paciente"/>
                </div>
              </div>
            </div>
            <!-- Id Doctor -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="iddoctor" class="textcolorw">Id Doctor</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-user-md"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    name="iddoctor"
                    required
                    class="form-control"
                    id="iddoctor"
                    [(ngModel)]="data.iddoctor"
                    placeholder="ID del doctor"/>
                </div>
              </div>
            </div>
            <!-- N. Citas -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="ncitas" class="textcolorw">Num. Citas</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-procedures"></i>
                    </div>
                  </div>
                  <input
                    type="number"
                    name="ncitas"
                    required
                    class="form-control"
                    id="ncitas"
                    [(ngModel)]="data.ncitas"
                    placeholder="Número de  citas del tratamiento" />
                </div>
              </div>
            </div>
            <!-- Modalidad De Pago -->
            <div class="row justify-content-center">
                <div class="form-group col-xs-12 col-8">
                  <label for="modalidadpago" class="textcolorw">Modalidad De Pago</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fas fa-money-check-alt"></i>&nbsp;<i class="fas fa-money-bill-alt"></i>
                      </div>
                    </div>
                    <select class="selectpicker form-control"
                      type="text"
                      name="modalidadpago"
                      required
                      id="modalidadpago"
                      [(ngModel)]="data.modalidadpago"
                      placeholder="Genero del personal">
                      <option>Contado</option>
                      <option>Plazos</option>
                    </select>
                  </div>
                </div>
              </div>
            <!-- Pagos-->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-8">
                <label for="pagos" class="textcolorw">Pagos</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </div>
                  </div>
                  <input
                    type="pagos"
                    name="pagos"
                    required
                    class="form-control"
                    id="pagos"
                    [(ngModel)]="data.pagos"
                    placeholder="Precio de la consulta" />
                </div>
              </div>
            </div>
            <!-- boton -->
            <div class="row justify-content-center">
              <div class="form-group col-xs-12 col-4 align-self-center text-center">
                <button type="submit" class="btn btn-outline-primary " (click)="agregar()" >Registrar</button>
              </div>
            </div>
          </form>

          
          
        </div>
      </div>


    </div>

          <div class="container text-center">
            <h1>Consultar Registros</h1>
            <div class="row justify-content-center">
              <div class="col-auto text-center">
                <form action="">
                  <table class="table table-dark table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">idtratamiento</th>
                        <th scope="col">idpaciente</th>
                        <th scope="col">Númerocitas</th>
                        <th scope="col">iddoctor</th>
                        <th scope="col">Modadlidad de pago</th>
                        <th scope="col">pagos</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tratamiento2 of tratamiento.tratamiento1">
                        <th scope="row">{{tratamiento2.idtratamiento}}</th>
                        <td>{{tratamiento2.idpaciente}}</td>
                        <td>{{tratamiento2.ncitas}}</td>
                        <td>{{tratamiento2.iddoctor}}</td>
                        <td>{{tratamiento2.modalidadpago}}</td>
                        <td>{{tratamiento2.pagos}}</td>
                        <!-- <br><br><br><br> -->
                        <!-- <td><a (click)="remove(e.id)"><button>borrar</button></a></td> -->
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <br>
                  <input type="submit" value="Consultar" (click)="buscar()">
                  <br>
                  <br>
                  <br>
                  <br>
                </form>
              </div>
            </div>
          </div>
    <br><br><br>
  </div>
