<div class=" fondo">
  <app-menuadmin></app-menuadmin>
  <h1>A D M I N I S T R A D O R</h1>
  <h1>Operaciones de Doctores</h1>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-auto text-center">

<!---AQUI COMIENZAN LOS MÉTODOS--------------------------------------------------------------------------------->
<h1>Actualizar</h1>
<form class="form-group" (ngSubmit)="validarId(doc)">
    <!-- (ngSubmit)="buscar1(doc)" -->
  <h2>Buscar Doctor</h2>
  <br><input class="form-control" type="number" min="1" [(ngModel)]="doc" name="id" placeholder="Ingresa el ID del doctor">
  <br><input class="form-control" type="submit" value="buscar">
</form>
        <form action="">
          <h2>Modificar datos</h2>
          <div *ngFor="let doctor2 of doctor.doctor1">
            <br> <label for="nombre" class="textcolorw">Nombre</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.Nombre" name="nombre">
            <br> <label for="nombre" class="textcolorw">Apellido Paterno</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.apaterno" name="apaterno">
            <br> <label for="nombre" class="textcolorw">Apellido Materno</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.amaterno" name="amaterno">
            <br> <label for="nombre" class="textcolorw">Género</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.genero" name="genero">
            <br> <label for="nombre" class="textcolorw">Fraccionamiento</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.fracc" name="frac">
            <br> <label for="nombre" class="textcolorw">Número</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.num" name="num">
            <br> <label for="nombre" class="textcolorw">Calle</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.calle" name="calle">
            <br> <label for="nombre" class="textcolorw">Edad</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.edad" name="edad">
            <br> <label for="nombre" class="textcolorw">Teléfono</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.telefono" name="telefono">
            <br> <label for="nombre" class="textcolorw">Correo</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.correo" name="correo">
            <br> <label for="nombre" class="textcolorw">Cédula</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.cedula" name="cedula">
            <br> <label for="nombre" class="textcolorw">Id Departamento</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.iddepartamento" name="iddepartamento">
            <br> <label for="nombre" class="textcolorw">Sueldo</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.sueldo" name="sueldo">
            <br> <label for="nombre" class="textcolorw">Especialidad</label>
            <input class="form-control" type="text" [(ngModel)] = "doctor2.especialidad" name="especialidad">
            <br> <input class="form-control" type="text" [(ngModel)] = "doctor2.nconsultorio" name="nconsultorio">
            <br> <input class="form-control" type="submit" value="Actualizar" (click)="validarDoctor(doctor2)">
            <!-- (click)="actualizarDoctor(doctor2)" -->
            <br><input class="form-control" type="submit" value="Eliminar" (click)="eliminarDoctor(doctor2)">
          </div>
        </form>
        <br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>